<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
	rel="stylesheet">
</head>
<style>
body {
	font-family: 'Source Sans Pro', sans-serif;
	important;
}
</style>

<body>
	<div class="container">
		<div class="py-5 text-center">
			<div class="col-md-8 offset-2">
				<img class="d-block mx-auto mb-4 img-fluid" src="cid:logo" alt="">
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-2">
				<h1>#helloAgain #userNames</h1>
				<hr />
				<p>#passwordReset:</p>
				<h1>
					<strong>#newPass</strong>
				</h1>
				<br />
				<p>#nextSteps.</p>
				<hr />
				<h4>#notYou</h4>
				<p>#someoneTrying.</p>

				<h4>#requestDetails</h4>
				<strong>#IMCNumber:</strong> #imcNumberValue <br /> <strong>#requestRole:</strong>
				#roleValue <br /> <strong>#requestDateTime:</strong> #dateTimeValue
				<br />
				<hr />
			</div>
		</div>
	</div>
</body>
</html>